

// import { isUndef } from "../../common/common";
import authConfig from '../../../auth_config.json';
import axios from "axios";

class AuthApiService{

    constructor(){

    }

    login(username, password){
        const urlLogin = `${authConfig.domain}/oauth/token`;
        const paramLogin = {
            grant_type: 'password',
            username: username,
            password: password,
            audience: `${authConfig.domain}/api/v2/`,
            client_id: authConfig.clientId,
            client_secret: authConfig.clientSecret,
            json: true
        }
        return axios.post(urlLogin, paramLogin);
    }

    register(email, username, password){
        const urlRegister = `${authConfig.domain}/dbconnections/signup`;
        const paramRegister = {
            client_id: authConfig.clientId,
            email: email,
            username: username,
            password: password,
            name: username,
            connection: 'Username-Password-Authentication'
        }
        return axios.post(urlRegister, paramRegister);
    }

    logout(){
        const urlLogout = `${authConfig.domain}/v2/logout`;
        const paramLogout = {
            client_id: authConfig.clientId,
            returnTo: authConfig.domain
        };

        return axios.post(urlLogout, paramLogout);

    }

}

export default AuthApiService;
